.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;

}

.mb3{
    margin-bottom: 25px;
}

.formlabel{
    margin: 12px;
}

.btnstyle{
    padding: 10px;
    cursor: pointer;
}

.btnsty{
    padding: 15px;
    width:100px;
;
}

.in{
    width:200px;
    margin: 12px;
}

.text{
    width: 215px;
    height: 90px;
}